@{
    ViewData["Title"] = "Dashboard";
}
<div class="dash">
    <h1>Dashboard</h1>
    <div>
        <ul>
            <li id="newUser">@Html.ActionLink("Add User", "NewUser", "Home")</li>
            <li id="newTask">@Html.ActionLink("Add Task", "NewTask", "Home")</li>
            <li id="assignTask">@Html.ActionLink("Assign Single Task", "AssignTask", "Home")</li>
            <li id="scheduleTask">@Html.ActionLink("Schedule Recurring Tasks", "SchedTask", "Home")</li>
            <li id="randTask">@Html.ActionLink("Group recurring Tasks", "RandTask", "Home")</li>
        </ul>
    </div>
    <div>
        <ul>
            <li id="viewUsers">@Html.ActionLink("View Users", "ViewUsers", "Home")</li>
            <li id="viewTasks">@Html.ActionLink("View Tasks", "ViewTasks", "Home")</li>
            <li id="viewHistory">@Html.ActionLink("View History", "HistoryDashboard", "Home")</li>
            <li id="viewSched">@Html.ActionLink("View Scheduled Tasks", "ViewSched", "Home")</li>
            <li id="viewRand">@Html.ActionLink("View recurring Tasks", "ViewRandTask", "Home")</li>
        </ul>
    </div>
</div>

@Context.Request.Cookies["uid"]
@Context.Request.Cookies["token"]
