@{
    ViewData["Title"] = "Dashboard";
}
<div class="dash">
    <h1>Dashboard</h1>
    <div>
        <ul>
            <li id="newUser">@Html.ActionLink("Add User","NewUser","Home")</li>
            <li id="newTask">@Html.ActionLink("Add Task", "NewTask", "Home")</li>
        </ul>
    </div>
    <div>
        <ul>
            <li id="viewUsers">@Html.ActionLink("View Users", "ViewUsers", "Home")</li>
            <li id="viewTasks">@Html.ActionLink("View Tasks", "ViewTasks", "Home")</li>
            <li id="viewHistory">@Html.ActionLink("View History", "ViewHistory", "Home")</li>
        </ul>
    </div>
</div>

@Context.Request.Cookies["uid"].ToString()
@Context.Request.Cookies["token"].ToString()


<div class="data"></div>
<script type="text/javascript" src="~/js/Dashboard.js"></script>