@model IEnumerable<HeyDo.Models.TaskItem>

@{
    ViewData["Title"] = "View Tasks";
}

<h1>View Tasks</h1>

<p>
    <a asp-action="NewTask">Add a Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDetails)
            </th>
            <th>
                Assigned User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTask", new { id = item.Id }) |
                @Html.ActionLink("Details", "ViewHistory", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "DeleteTask", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
