@model IEnumerable<HeyDo.Models.Usertask>

@{
    ViewData["Title"] = "ViewHistory";
}

<h1>ViewHistory</h1>

<p>
    <a asp-action="AssignTask">Assign a Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Task
            </th>
            @if (Model.Any(u => u.Complete))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Complete)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.SendTime)
            </th>
            @if (Model.Any(u => u.Passed))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Passed)
                </th>
            }
            <th>
                User Assigned
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedDateTime)
            </th>
            @if (Model.Any(u => u.Complete))
            {
                <th>
                    @Html.DisplayNameFor(model => model.CompletedDateTime)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskId)
                </td>
                @if (Model.Any(u => u.Complete))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Complete)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.SendTime)
                </td>
                @if (Model.Any(u => u.Passed))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Passed)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.UserIdAssigned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedDateTime)
                </td>
                @if (Model.Any(u => u.Complete))
                {
                    <td>
                        @if (item.Complete)
                        {
                            @Html.DisplayFor(modelItem => item.CompletedDateTime)
                        }
                    </td>
                }
                <td>@Html.ActionLink("Resend task", "ResendTask", new { id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>
