@model IEnumerable<HeyDo.Models.User>

@{
    ViewData["Title"] = "View Users";
}

<h1>View Users</h1>

<p>
    <a asp-action="NewUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPreference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            @Html.HiddenFor(modelItem => item.Id)
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPreference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                @Html.ActionLink("Details", "ViewHistory", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
