@model IEnumerable<HeyDo.Models.UserTaskSchedule>

@{
    ViewData["Title"] = "ViewSched";
}

<h1>ViewSched</h1>
<div>I would like to send {USER} a(n) {CONTACTTYPE} telling them to {USERTASK}</div>
<div>This should happen every {X}{DAYOFWEEK} {FREQUENCY} at {TIME} starting {STARTDATE} and ending {ENDDATE}</div>
<p>
    <a asp-action="SchedTask">Create New Schedule</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>User</th>
        <th>Contact Type</th>
        <th>Task</th>
        <th>Day</th>
        <th>Day of Week</th>
        <th>Day Frequency</th>
        <th>Frequency</th>
        <th>Time</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserTaskList.UserTask.UserIdAssigned)</td>
            <td>@Html.DisplayFor(modelItem => item.UserTaskList.UserTask.ContactMethod)</td>
            <td>@Html.DisplayFor(modelItem => item.UserTaskList.UserTask.TaskId)</td>
            <td>@Html.DisplayFor(modelItem => item.TaskSchedule.DayOfMonth)</td>
            <td>@Html.DisplayFor(modelItem => item.TaskSchedule.DayOfWeek)</td>
            <td>@Html.DisplayFor(modelItem => item.TaskSchedule.DayFrequency)</td>
            <td>@Html.DisplayFor(modelItem => item.TaskSchedule.Frequency)</td>
            <td>@Html.DisplayFor(modelItem => item.TaskSchedule.Time)</td>
            <td>@Html.DisplayFor(modelItem => item.TaskSchedule.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.TaskSchedule.EndDate)</td>
            <td>
                @Html.ActionLink("Edit", "EditSched", new {id=item.TaskSchedule.Id}) |
                @Html.ActionLink("Skip Next", "Skip", new {/*id=item.TaskSchedule.Id*/}) |
                @Html.ActionLink("Send Now", "ResendTask", new {id=item.UserTaskList.UserTask.Id}) |
                @Html.ActionLink("Delete", "DeleteSched", new {id=item.TaskSchedule.Id})
            </td>
        </tr>
        }
    </tbody>
</table>
